//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================

$primary: #07B0F2;
.bg1{
    background-image: url(/images/auth/fondo-auth.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
}